<ul id='admin_navigation'>
	<li><%= link_to "edit site content", :controller => "pages" -%></li>
	<li><%= link_to "inspiration images", photos_path -%></li>
	<li><%= link_to "users", :controller => "users" -%></li>
	<li><%= link_to "designs", designs_path -%></li>
	<li><%= link_to "ideas", ideas_path -%></li>
	<li><%= link_to "ticker content", :controller => "tickers" -%></li>
	<li><%= link_to "comments", :controller => "comments" -%></li>
</ul>