<ul id='footer_navigation'>
	<li class='copyright'>Copyright &copy; <%= Time.now.strftime("%Y") -%> University of Utah. All Rights Reserved.</li>
	<li class='caps'><%= link_to "PRESS", :controller => "press" -%></li>
	<li class='caps'><%= link_to "PARTNERS", :controller => "about" -%></li>
	<li class='caps'><%= link_to "CONTACT INFO", :controller => "contact" -%></li>
	<li class='caps'><%= link_to "SEND FEEDBACK", :controller => "contact" -%></li>
	<li><%= link_to "Terms of Use", :controller => "terms-of-use" -%></li>
	<li><%= link_to "Privacy Policy", :controller => "privacy-policy" -%></li>
</ul>