<% form_tag sessions_path do %>

<table border="0">
	<tr>
		<td>
			<%= label :username, "User Name" %><br>
			<%= text_field_tag (:username, nil, :size => 20, :class => "text") %><br>
		</td>
		<td>
			<%= label :password, "Password" %><br>
			<%= password_field_tag (:password, nil, :size => 20, :class => "text") %><br>
		</td>
	</tr>
	<tr>
		<td colspan='2'>
			<p>
				<%= submit_tag "login" %>
			</p>
			<p><%= link_to "I forgot my username or password", :controller=> "sessions", :action => "forgot" %></p>
			<p><%= link_to "I am a new user and need to register", :controller=> "users", :action => "request_dob" %></p>
		</td>
	</tr>
</table>
<% end %>