<ul class='navigation'>
	<li id='home'><%= link_to "home", :controller => "welcome" -%></li>
	<li id='inspiration'><%= link_to "inspiration", :controller => "inspiration" -%></li>
	<li id='submit-design'></li>
	<li id='rate-designs'><%= link_to "rate designs", designs_path -%></li>
	<li id='submit-idea'></li>
	<li id='rate-ideas'><%= link_to "rate ideas", ideas_path -%></li>
	<li id='about'><%= link_to "about this site", :controller => "about" -%></li>
	<li id='contact'><%= link_to "contact us", :controller => "contact" -%></li>
</ul>